{% extends 'customadmin/basic.html' %} 
{% load static %}

    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/select/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">
    <!-- END: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/form-validation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-user.css' %}">
    {% endblock style %}
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">
    {% block content %}


        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="app-user-edit">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        
                                    </div>
                                <!-- Account Tab starts -->
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">Tranding Product</h4>
                                </div>
                                <div class="card-body py-2 my-25">
                                    <!-- header section -->
                                    
                                        <!-- upload and reset button -->
                                        <form class="form-validate" method="POST" enctype="multipart/form-data">
                                             <div class="d-flex">
                                                <a href="#" class="me-25">
                                                    <img src="{% if obj.image %}{{ obj.image.url }}{% else %}{% static 'image/apple-touch.png' %}{% endif %}"
                                                        id="account-upload-img" class="uploadedAvatar rounded me-50" 
                                                        alt="profile image" height="100" width="100" />
                                                </a>
                                                <div class="d-flex align-items-end mt-75 ms-1">
                                                    <div>
                                                        {% if user.is_superuser %}
                                                        <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75">Upload</label>
                                                        <input type="file" name="image" id="account-upload" hidden accept="image/*" />
                                                        <p class="mb-0">Allowed file types: png, jpg, jpeg.</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                                <script>
                                                     document.getElementById("account-upload").addEventListener("change", function(event) {
                                                        const file = event.target.files[0];
                                                        if (file) {
                                                            const reader = new FileReader();
                                                            reader.onload = function(e) {
                                                                document.getElementById("account-upload-img").src = e.target.result;
                                                            };
                                                            reader.readAsDataURL(file);
                                                        }
                                                    });
                                                </script>
                                                <!--/ upload and reset button -->
                                                </div></div>
                                               
                                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="username">Name</label>
                                                                {{form.name}}
                                                                  
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="name">keyfeature 1</label>
                                                    {{form.keyfeature1}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="email">keyfeature 2</label>
                                                    {{form.keyfeature2}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="email">keyfeature 3</label>
                                                    {{form.keyfeature3}}
                                                    <!-- <input type="text" name="number2" {% if user1.designation %}value="{{user1.designation}}"{% endif %}required class="form-control" placeholder="designation" value="" id="email" /> -->
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="email">keyfeature 4</label>
                                                   {{form.keyfeature4}}
                                                </div>
                                            </div>
                                         
                                           
                                            <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1">Save Changes</button>
                                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                            </div>
                                           
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- users edit ends -->

            </div>
        </div>
    <!-- END: Content-->
    {% endblock content %}
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <script>
        console.log('hello')
    </script>

    <!-- BEGIN Vendor JS-->
    {% block scriptjs %}
        
       <!-- BEGIN: Page Vendor JS-->
       <script href="{% static 'app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
       <script href="{% static 'app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
       <script href="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
       <!-- END: Page Vendor JS-->
   
   
       <!-- BEGIN: Page JS-->
       <script href="{% static 'app-assets/js/scripts/pages/app-user-edit.js' %}"></script>
       <script href="{% static 'app-assets/js/scripts/components/components-navs.js' %}"></script>
       <script>
        console.log('aaaaaa');
        
        </script>
       <!-- END: Page JS-->
    {% endblock scriptjs %}
 

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>